# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

/.quarto/
docs/presentation.html
docs/index.html
*.html
/docs/assets
/docs/contents
/docs/site_libs
exercises/exercise_1_data/RiceFarms.csv
exercises/exercise_1_data/RiceFarm_project.R
exercises/exercise_23_data/.Rprofile
exercises/exercise_23_data/.DS_Store
exercises/exercise_23_data/Data/Processed/RiceFarms_summary.csv
exercises/exercise_23_data/Data/Raw/RiceFarms.csv
exercises/exercise_23_data/Output/Visualisations/Regional_size_summary_bar.png
exercises/exercise_23_data/renv.lock
exercises/exercise_23_data/renv/activate.R
exercises/exercise_23_data/renv/settings.json
exercises/exercise_23_data/Rice_farm_analysis.Rproj
exercises/exercise_23_data/RiceFarm_master.R
exercises/exercise_23_data/Scripts/01_data_analysis.R
exercises/exercise_23_data/Scripts/02_data_visualisation.R
exercises/exercise_23_data/Scripts/RiceFarm_project.R
docs/exercises/Git_exercise.html
docs/exercises/Git_exercise.html
docs/sitemap.xml
