/* css styles */


/*Set up primary colours as variables*/
:root {
  --background-green: #C8D4C3;
  --accent-colour: #3B5C3E;
  --highlight-colour: #003314;
  --text-colour: #212529;
  --logo-shape-colour: #3B5C3E;
}

/*Header styling*/
#quarto-header nav {
  padding-left: 0em !important;
  padding-right: 0em !important;
}

/*page title styling*/
.quarto-title{
  padding-top: 30px;
}

.picture {
  border-radius: 50%;
  padding: 5pt;
  height: 
  0%;
  width: auto;
}

/**** navbar overrides *****/

/*website title*/
.navbar-title {
    background-size: 80% 100% !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    text-align: center !important;
    font-size: 2rem !important;
    font-weight: 500;
    padding-top: 7px !important;
    padding-bottom: 5px !important;
}

.quarto-container {
  margin-top: 50px !important;
}

/* Navbar background styling*/
.navbar {
    position: fixed;
    width: 100%;
}

/* Center the Navbar in the banner*/
/*.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding-top: 7px !important;
  padding-bottom: 5px !important;
}*/



.navbar-dark .navbar-nav .nav-link {
  color: var(--text-colour) !important;
}

li.nav-item {
  text-align: center !important;
}

.navbar-brand {
  color: var(--text-colour) !important;
}

a.nav-link {
  font-weight: 200 !important;
  color: var(--text-colour) !important;
}

/*Colour/behaviour of navbar link for active page*/
.navbar .navbar-nav .nav-link.active {
    font-weight: 700 !important;
    color: var(--accent-colour) !important;
}

/*navbar link positioning*/
.navbar-brand, .navbar-nav li.nav-item a.nav-link {
    height: inherit;
    line-height: 30px !important;
    padding-top: 7px !important;
    padding-bottom: 5px !important;
}

/*navbar link underling*/
a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .5s;
}

a.nav-link {
  position: relative;
}

/*navbar link underlining*/
a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: var(--accent-colour);
  height: 2px;
}

/*navbar link underlining*/
a.nav-link:hover:after {
  width: 70%;
}
/*navbar link hover behaviour*/
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--accent-colour) !important;
}

/*navbar collapsing with page width functionality*/
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='gray' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    margin-right: 50px;
}

p > a:hover {
  color: var(--accent-colour);
  text-decoration: none;
}

p > a {
  position: relative;
  color: var(--accent-colour);
  text-decoration: none;
}

/*link colour*/
ul.share li a {
    background-color: var(--highlight-colour);
}

/* link hover underlining*/
p > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-colour);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

/* style nav bar icons using the specific i class*/
li.nav-item i {
  color: var(--accent-colour)!important;
}

/* link colour*/
a {
  color: var(--accent-colour);
}

/* link hover colour*/
a:hover {
  color: var(--accent-colour);
}

/* link hover underlining*/
p > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/*Styling for code blocks*/
div.sourceCode {
    background-color: white;
    border: 1px solid gray;
    border-radius: 0.25rem;
}

code span.fu {
    color: var(--text-colour);
}

code span.st {
    color:white;
}
/*colour for shapes in logo/title*/
code span.at {
    color: var(--text-colour);
}

code span.cn {
    color: white;
}

img.rounded { 
    border-radius: 50px 20px 50px 20px !important;
}

div.embed-container {
    position: relative;
    padding-bottom: 70%;
    overflow: hidden;
    max-width: 100%;
}

div.embed-container iframe,
div.embed-container object,
div.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 515px;
    display:block;
    text-align: center;
}

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
</style>